@charset "utf-8";

::-webkit-scrollbar { width: 0px; }

/*reset*/
body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,th,td,form,fieldset,legend,input,label,select,textarea,button,
header,footer,nav,aside,section,article,main,a,span,strong,em,b,i,address {
  margin:0; padding:0;
  box-sizing:border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  font-size:0.625em;
  color: #fff;
}
body,h1,h2,h3,h4,h5,h6,button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height:1;
}
a {text-decoration:none; color:#fff;}
ul,ol,li {list-style:none;}
img,fieldset {border:none; vertical-align:middle;}
strong,em,i,address {font-weight:normal; font-style:normal;}
table {border-collapse:collapse;}

button {
  border:none;
  background-color:transparent;
  cursor:pointer;
}

input {
  -webkit-appearance: none;
  border:none;
}

button{ 
  -webkit-appearance: none;
  border:none;
  background-color:none;
}

/*scroll-bar 없애기*/
/*html,body{width:100%;height:100%;-ms-overflow-style: none; }
body::-webkit-scrollbar {display: none;}*/

/* placeholder 지정할것 */
/* ::-webkit-input-placeholder{font-size:12px;color:#333}
::-moz-input-placeholder{ font-size:12px;color:#333 }
::input-placeholder{font-size:12px;color:color:#333} */


/*global_class*/
.modal {
  position:fixed;
  top:0px; left:0px;
  width:100%;height:100%;
  background-color: rgba(0,0,0,0.9);
  display:block;
  z-index:99;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.ir_pm {
  text-indent: -999em;
  white-space: nowrap;
  overflow: hidden;
}
/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */

.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%
}
/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */

.blind {
  position: absolute;
  top: -9999em;
  left:-9999em;
}

.text_hide {
  font-size: 0px
}

.hide {
  display: none;
}

.show {
  display: block
}


/*
.pc{display:none;}
.mobile{}
*/



